 body{
    font-size: 16px;
    font-family: 'Satoshi-Medium';
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

#fondoHome{
    background-image: url(../assets/fondoHome.png);
    background-repeat: no-repeat;
    background-size: cover
}
#fondoServicios{
    background-image: url(../assets/FondoServicio.png);
    background-repeat: no-repeat;
    background-size: cover 
}

#textHeader{
    margin-top: 170px;
    margin-right: 0px;
    size: 100px;
    
}
#textHeaderServicios{
    margin-top: 170px;
    margin-right: 0px;
    size: 140px;
    
}

h1{
    font-size: 40px;
    padding: 10px;
    font-family: 'Satoshi-Black';

}
h2{
    font-size: 16px;
    padding-bottom: 15px;
    text-align: center;
    font-style: bold;
}

 h3{
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 90px;
    padding-right: 90px;
    justify-content: center;
}

#logo{
    width: 70px;
    padding: 20px;

    position: absolute;
    top: -5px;
    left: 45%;
}

#fondo-buger{
    background-color: white;
    padding: 0px;
    width: 100%;
    height: 60px;
    text-align: center;
}

.blue{
color: #1F4F88;
}

.flecha{
    width: 40px ;
    margin-top: 100px;
}

/*HAMBURGUESA*/

*{
    margin: 0;
    padding: 0;
  }
  
  .main-header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 0.4rem;
  }
  
  .main-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 25vh;
    width: 100%;
    margin-top: -100%;
    transition: all .3s linear;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
  }
  
  .main-nav.show{
    margin-top: 0;
  }

  
  
  .nav-links{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;

    background: #dadfe2;
    height: max-content;
    position: fixed;
    top: 0px;
  }

  #link1{
    background-color: #E84725;
    height: 100px;
    width: 33vw;

    }
    #link2{
    background-color: #69C8F2;
    height: 100px;
    width: 33vw;
    }
    #link3{
    background-color: #F9C81E;
    width: 33vw;
    height: 100px;
    }
  
  .link-item{
    margin-top: 2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }
  
  .link-item::after {
    position: absolute;
    content: "";
    background-color: white;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
  }
  
  .link-item:hover::after {
    width: 100%;
  }
  
  .button-menu{
    position: absolute;
    left: 15px;
    top: 10px;
    z-index: 200;

    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .button-menu span{
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #444444;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all .2s linear;
  }
  
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #000000;
  }
  
  .button-menu.close span:nth-child(2){
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  
  .button-menu.close span:nth-child(3){
    display: none;
  }

/*CARDS*/

.card-container{
    margin-top: 200px;
}

.card {
    background-color: white;
    background-position: center top 20px;
    height: min-content;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 40px;

    border-radius: 20px;

    -webkit-box-shadow: -5px 9px 20px 5px rgba(0,0,0,0.24);
    -moz-box-shadow: -5px 9px 20px 5px rgba(0,0,0,0.24);
    box-shadow: -5px 9px 20px 5px rgba(0,0,0,0.24);

}

.card-asterisk{
    background-image: url(../assets/asterisk.png);
    background-repeat: no-repeat;
    background-size: 70px;
}

.card-hand{
    background-image: url(../assets/hand.png);
    background-repeat: no-repeat;
    background-size: 40px;
    
}

.card-stairs{
    background-image: url(../assets/satirs.png);
    background-repeat: no-repeat;
    background-size: 55px;
}

.card-clock{
    background-image: url(../assets/Reloj.png);
    background-repeat: no-repeat;
    background-size: 90px;
}

.card-ubicacion{
    background-image: url(../assets/Ubicacion.png);
    background-repeat: no-repeat;
    background-size: 70px;
    
}

.card-email{
    background-image: url(../assets/Correo.png);
    background-repeat: no-repeat;
    background-size: 90px;
}

.card-phone{
    background-image: url(../assets/phone.png);
    background-repeat: no-repeat;
    background-size: 90px;
}

.text-box{
    background-color: transparent;
    padding: 40px;
    text-align: center;
    padding-top: 100px;
    font-size: 13px;
}

.text-box-servicios{
    background-color: transparent;
    padding: 40px;
    text-align: center;
    padding-top: 150px;
    font-size: 16px;
}

/* NOTICIAS */

.Noticias{
    margin-top:100px;
    padding-left: 30px;
    padding-right: 70px;
    
}

#header-noticias #header-servicio{
    height: 75px;
    margin-top: 250px;
}

.square{
    width: 22.5px;
    height: 22.5px;
    background-color: #1F4F88;
    margin-bottom:0;
}

.squareServicio{
    width: 22.5px;
    height: 22.5px;
    background-color: #F9C81E;
    margin-left: 30px;
    margin-bottom:0;
}

.titulo{
    font-size: 30px;
    font-family: 'Satoshi-Bold';
    margin-left: 30px;
    margin-top:-4px;
}
.titleService{
    font-size: 30px;
    margin: 14px;
    font-family: 'Satoshi-Bold';
    margin-left: 41px;
    margin-top:-6px;
    text-align: left;

}

.news-titulares{
    font-size: 16px;
}

.TextosServiciosContainer{
    padding: 10%;
    padding-top: 30%;
    justify-content: left;
    justify-items: left;
}

.titularServicios{
    padding-top: 15%;
    font-size: 18px;
    font-family: 'Satoshi-Bold';
    
}
.textoServicios{
    font-size: 14px;
    margin-top: 5%;
    font-family: 'Satoshi-Medium';
}

.fechas{
    font-family: 'Satoshi-Medium';
    font-size: 12px;
    padding-bottom: 10px;
}
.linea{
    color: black;
    size: 0.05px;
    width: 45%;
}
#lineaServicios{
    color: black;
    size: 0.05px;
    margin: 15%;
    margin-right: 15%;
    margin-top: 4%;
    width: 70%;
}
#lineaSpecial{
    color: black;
    size: 0.05px;
    width: 93%;
}
.boton{
    margin-top: 60px;
    padding: 10px;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 26px;
    border-color: #E84725;
    width: max-content;
    height: 30px;
    display: flex;
    align-items: center;
}

.boton a, .verMas a{
    font-size: 12px;
    color: black;
    text-decoration: none;

    
}

.boton a.hover, .verMas a.hover{
   color: rgb(194, 205, 216); 
}

.news-text{
    font-size: 14px;
    padding-bottom: 35px;
}

#botonVerMas{
    position: relative;
    margin-top: 40px;
}

.verMas{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    right: 50%;
    width: 90px;
    padding: 10px;
    height: 30px;
    border-radius: 26px;
    box-shadow: -2px 3px 6px 5px rgba(0,0,0,0.18);
}
.verMas a{
    font-size: 14px;
}

.ending{
    margin-top: 100px;
    width: 100vw;
    height: 300px;
    background-color: #1F4F88;
}
#textEnding{
    color: white;
    font-size: 12px;
    padding: 30px;
    position: relative;
    bottom: 10px;
}

.endingLinks{
    display: flex;
    flex-direction: row;
    color: white;
    padding: 30px;
    padding-bottom: 40px;
}

.endingLinks a{
    text-decoration: none;
    color: white;
}

.endingLinks a.hover a.active{
    color: rgb(194, 205, 216);
}

@media (min-width: 1024px){
    
}



